!!! XML
!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta( charset="UTF-8")
		%meta{ name: 'robots', content: 'index, follow' }
		%meta{ name: 'description', content: "geloow webEnterpretuos" }
		%meta{ name: 'keywords', content: "#{t(:head__keywords)}" }
		%link{ href: '/images/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' }
		%title SendDinero.com
		= stylesheet_link_tag "sass/home", media: 'screen', type: 'text/css'    			
		= yield(:head)
		= csrf_meta_tag	    
	%body
		%header
			= render "layouts/header"		
		
		= yield																	
		%footer
		:javascript
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));